.card-image {
    margin: -10px -10px -10px -10px
}

body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20191029/pngtree-blue-lighting-3d-concert-stage-podium-spotlight-vector-background-design-image_320475.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.artist-info {
    
    height: 325px;
    overflow: auto;
    text-align: center;
    opacity: 50%;
    background-image:linear-gradient(90deg, #2971a8,  rgb(80, 75, 75));
    border-radius: 10%;
    color: white
}

.history-discography-songs-populate {
    border: solid red 1px;
    height: 325px;
    overflow: auto;
    opacity: 50%;
    background-image:linear-gradient(90deg, rgb(80, 75, 75),  #2971a8);
    border-radius: 10%;
    padding: 20px;
    color: white;
}

.search-1 {
    border: solid red 1px;
    border-left: 50%;
    margin: -35px 5px 0px 5px;

    width: 75%;
    

}
.search-2 {
    border: solid red 1px;
    margin: -18px 5px 0px 5px;
}

.top-songs-card {
    border: solid red 1px;
    height: 325px;
    overflow: auto;
    padding:20px;
    color: white;
}

.video-card {
    border: solid red 1px;
    height: 325px;
    overflow: auto;
}



#artist-pic {
   max-width: 150px;
   max-height: 150px;
   align-content: center;

}

